.navber{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.nav_auth{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.nav_auth li {
  text-decoration: none;
  color: white;
  list-style: none;
}

.nav_li{
  text-decoration: none;
  color: white;
  
}
